@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
      background-color: #191716;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }

    .margin{
      margin-top: 75px;
      margin-bottom: 75px;
      margin-right: 75px;
      margin-left: 75px;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Admin</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/Home/Admin/">Manage Product</a></li>
        <li><a href="/Home/TransactionList/">Transaction</a></li>
      </ul>
        <ul class="nav navbar-nav navbar-right">
         <li><a href="/Admin/Logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<h2 class="text-center">Product List</h2>

<div class="margin">
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">No</th>
      <th scope="col">Nama</th>
      <th scope="col">Image</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      @{  var count = 0; 
          var items = ViewBag.items;
          foreach(var product in items) {
            count++;
    <tr>
      <th>@count</th>
      <td>@product.title</td>
      <td><img style="width:70px" src=@product.image></td>
      <td>@product.desc</td>
      <td>@product.price</td>
      <td><button id="upd-@product.id" type="button" class="btn btn-success" value="update" onclick="javascript:submitUpdate(this)"><span class="glyphicon glyphicon-edit"></span></button></td>
      <td><button id="rem-@product.id" type="button" class="btn btn-danger" value="remove" onclick="javascript:remove(this)"><span class="glyphicon glyphicon-trash"></span></button></td>
    </tr> }
      }
</table> </div> 
         <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Bellroy - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    </body>
    </html>