@{
    Layout = null;
}

<h2>@ViewData["Title"]</h2>
<p>Bring your goods in simply way</p>
<div class="text-center">
    @{
            <div class="text-center">     
            <button id="Add Product" type="button" class="btn btn-primary" value="Admin" onclick="location.href='/Home/Addproduct'">Add Some Product</button> 
            <br>
            <br>  
            <button id="Edit or Remove Product" type="button" class="btn btn-primary" value="User" onclick="location.href='/Home/Editproduct'">Edit or Remove Some Product</button>
            <br>
            </div>
    }
</div>