@{
    Layout = "_LayoutAdmin";
}


<div class="container text-center">
            <img src="https://s3.amazonaws.com/cms.images.bellroy.com/cms_images/52/bellroy-womens-wallets.jpg?1492062325" width="500px"> <br> <br>
            <button id="Export" type="button" class="btn btn-primary" onclick="location.href='/Home/Export'">Export Product List</button><br><br><br>
            <input style="margin-left:490px" type="file" name="file" value="file"><br>
            <button id="Import" name="btn" type="submit" class="btn btn-primary" onclick="location.href='/Home/Import'">Import Product List</button><br><br>
            <br>
    </div>