@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
      background-color: #191716;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Bellroy</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/Home/Welcomepage/">Home</a></li>
        <li class="active"><a href="/Home/Product/">Products</a></li>
        <li><a href="/Home/Cart/">Cart</a></li>
        <li><a href="/Home/Privacy">Privacy</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li><a href="/Admin/Logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="text-center">
    @{
        var get = ViewBag.items;
        foreach (var item in get)
        {
            <div>
                <h4>@item.title</h4>
                <div>
                    <img src=@item.image width="500px">
                    <br>
                </div>
                @item.desc
                <br>
                <h5>Price : Rp.@item.price</h5>
                <br>
                <button id="upd-@item.id" type="button" class="btn btn-primary" value="update" onclick="location.href='/Home/Add/@item.id'"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button>
                <br>
            </div>
        }
    }
</div>
<br><br>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Bellroy - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>