@{
    Layout = "_Layout";
}

<div class="text-center">
    @{
        var get = ViewBag.items;
        foreach (var item in get)
        {
            <div>
                <h4>@item.title</h4>
                <div>
                    <img src=@item.image width="500px">
                    <br>
                </div>
                @item.desc
                <br>
                <h5>Price : Rp.@item.price</h5>
                <br>
                <button id="upd-@item.id" type="button" class="btn btn-primary" value="update" onclick="location.href='/Home/Add/@item.id'"><span class="glyphicon glyphicon-shopping-cart"></span> Add To Cart</button>
                <br>
            </div>
        }
    }
</div>
<br><br>