@{
    ViewData["Title"] = "Product Detail";
}

<h2>@ViewData["Title"]</h2>
<p>Here is our product details</p>
<div class="text-center">
    @{
        var get = ViewBag.items;
        foreach (var item in get)
        {
            <div>
                <h6>@item.title</h6>
                <div>
                    <img src=@item.image width="500px">
                    <br>
                </div>
                @item.desc
                <br>
                <h6>Price : Rp.@item.price</h6>
                <br>
                <button id="upd-@item.id" type="button" class="btn btn-primary" value="update" onclick="location.href='/Home/Add/@item.id'">Add To Chart</button>
                <br>
            </div>
        }
    }
</div>