@{
    ViewData["Title"] = "Login Page";
}

<!DOCTYPE html>
<html>
    <style>
.form-style{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.form-style h1{
	background: #3C5BD6;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}
.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style textarea,
.form-style select 
{
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style input[type="text"]:focus,
.form-style input[type="date"]:focus,
.form-style input[type="datetime"]:focus,
.form-style input[type="email"]:focus,
.form-style input[type="number"]:focus,
.form-style input[type="search"]:focus,
.form-style input[type="time"]:focus,
.form-style input[type="url"]:focus,
.form-style textarea:focus,
.form-style select:focus
{
	box-shadow: 0 0 5px #3C5BD6;
	padding: 3%;
	border: 1px solid #3C5BD6;
}

.form-style input[type="submit"],
.form-style button[type="submit"],
.form-style input[type="button"]{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #3C5BD6;
	border-bottom: 2px solid #486DFC;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;	
	color: #fff;
}
.form-style input[type="submit"]:hover,
.form-style button[type="submit"]:hover,
.form-style input[type="button"]:hover{
	background: #335AF6;
}
</style>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <br> <br>
   @{
        var get = ViewBag.items;
        foreach (var item in get)
        { 
        <div>
            <form class="form-style" action="" method="post">
                <div class="text-center">
                 <img src=@item.image width="250px">
                </div>
                <br>
                <p4>@item.title</p4> <br>
                <p4>ID Product :</p4>
                <p4 id="id_product">@item.id</p4>
                <input  id="title" type="text" value="" name="title" placeholder="  Title">
                <input  id="image" type="text" value="" name="cart"  placeholder="  Image (url)">
                <input  id="desc" type="text" value="" name="cart"  placeholder="  description">
                <input  id="price" type="text" value="" name="cart"  placeholder="  Price">
                <input  id="rate" type="text" value="" name="cart"  placeholder="  Rate">
                <button id="button" type="submit" value="update" onclick="javascript:EditProduct(this)">Edit Product</button><br><br>
            </form>
            </div>
            <br>
            <br>
            <br>
        }
    }    
</body>
</html>


<script type="text/javascript">
function EditProduct(btn)
{
    var id = document.getElementById("id_product").innerHTML;
    var title = document.getElementById("title").value;
    var image = document.getElementById("image").value;
    var desc = document.getElementById("desc").value;
    var price = document.getElementById("price").value;
    var rate = document.getElementById("rate").value;
    location.href='/Home/EditData?id='+id+'&title='+title+'&image='+image+'&desc='+desc+'&price='+price+'&rate='+rate;
}
</script>