@{
    ViewData["Title"] = "Manage Your Product";
}

<p><b>List of Product on Database</b></p>
<div class="text-center">
    @{
        var get = ViewBag.items;
        foreach (var item in get)
        {
            <div>
                <h8>Product ID :</h8>
                <h8 id="item_id">@item.id</h8>
                <h5>@item.title</h5>
                <div>
                    <img src=@item.image width="200px">
                </div>
                <h7>@item.desc</h7>
                <h6>Price : Rp.@item.price</h6>
                <br>
                <button id="edt-@item.id" type="button" class="btn btn-primary" value="update" onclick="javascript:edit(this)">Edit</button>
                <button id="rem-@item.id" type="button" class="btn btn-secondary" value="remove" onclick="javascript:remove(this)">Remove</button><br><br>
                <br>
                <br>
            </div>
        }
    }
</div>

<script type="text/javascript">
function edit(btn)
{
    var id = btn.id;
    id = id.substring(4,id.Length);
    location.href='/Home/Editform?id='+id;
}

function remove(btn) {
    var id = btn.id;
    id = id.substring(4,id.Length);
    location.href='/Home/RemoveProduct?id='+id;
}

</script>