@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
      background-color: #191716;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Admin</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/Home/Admin/">Manage Product</a></li>
        <li><a href="">Transaction</a></li>
        <li><a href="">Traffic</a></li>
      </ul>
        <ul class="nav navbar-nav navbar-right">
         <li><a href="/Home/Index/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<h4 class="text-center"><b>List of Product on Database</b></h4>
<br><br>
<div class="text-center">
    @{
        var get = ViewBag.items;
        foreach (var item in get)
        {
            <div>
                <h8>Product ID :</h8>
                <h8 id="item_id">@item.id</h8>
                <h5>@item.title</h5>
                <div>
                    <img src=@item.image width="200px">
                </div>
                <h7>@item.desc</h7>
                <h6>Price : Rp.@item.price</h6>
                <br>
                <button id="edt-@item.id" type="button" class="btn btn-primary" value="update" onclick="javascript:edit(this)">Edit</button>
                <button id="rem-@item.id" type="button" class="btn btn-secondary" value="remove" onclick="javascript:remove(this)">Remove</button><br><br>
                <br>
                <br>
            </div>
        }
    }
</div>
</body>

<script type="text/javascript">
function edit(btn)
{
    var id = btn.id;
    id = id.substring(4,id.Length);
    location.href='/Home/Editform?id='+id;
}

function remove(btn) {
    var id = btn.id;
    id = id.substring(4,id.Length);
    location.href='/Home/RemoveProduct?id='+id;
}

</script>