@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
      background-color: #191716;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

     .marginright{
      margin-right: 35px;
    }
     .marginleft{
      margin-left: 35px;
    }
  </style>
</head>

<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Bellroy</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/Home/Welcomepage/">Home</a></li>
        <li class="active"><a href="/Home/Product/">Products</a></li>
        <li><a href="/Home/Cart/">Cart</a></li>
        <li><a href="/Home/Privacy">Privacy</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
         <li><a href="/Admin/Logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div>
<nav aria-label="...">
  <ul class="pagination marginleft">
    <li class="page-item">
      <a class="page-link" href="/Home/Paging?prev=1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" value="1" id="btn1" href="/Home/Paging?_crntpage=1">1</a></li>
    <li class="page-item"><a class="page-link" value="2" id="btn2" href="/Home/Paging?_crntpage=2">2</a></li>
    <li class="page-item"><a class="page-link" value="3" id="btn3" href="/Home/Paging?_crntpage=3">3</a></li>
    <li class="page-item"><a class="page-link" value="4" id="btn4" href="/Home/Paging?_crntpage=4">4</a></li>
    <li class="page-item"><a class="page-link" value="5" id="btn5" href="/Home/Paging?_crntpage=5">5</a></li>
    <li class="page-item"><a class="page-link" value="6" id="btn6" href="/Home/Paging?_crntpage=6">6</a></li>
    <li class="page-item">
      <a class="page-link" href="/Home/Paging?next=1">Next</a>
    </li>
  </ul>
  <input  class="marginleft" id="setPage_input" type="text" name="cart"  placeholder=" show how many items?">
<button id="page_btn" type="button" class="btn btn-primary" value="search" onclick="javascript:paging(this)"> Apply </button><br><br>
<br></div>

<div class="text-right">
<form action="" method="post">
                <input  id="search_input" type="text" name="cart"  placeholder="  Search Product">
                <button id="search_btn" type="button" class="btn btn-primary marginright" value="search" onclick="javascript:search(this)"><span class="glyphicon glyphicon-search"></span></button><br>
            </form><br>

<form action="" method="post">
                <select id="sort_input" name="sort">
                <option value="default">Default</option>
                <option value="name_asc">Sort by name Asc</option>
                <option value="name_desc">Sort by name Desc</option>
                <option value="price_asc">Sort by price Asc</option>
                <option value="price_desc">Sort by price Desc</option>
                </select>
                <button id="search_btn" type="button" class="btn btn-primary marginright" value="search" onclick="javascript:sorting(this)"><span class="glyphicon glyphicon-sort"></span></button><br><br>
            </form>
</div>

   @{
    var items = ViewBag.items;
    foreach(var item in items) {
    <div class="col-sm-4">
      <a style="color:#111010">@item.title</a><br>
      <img src=@item.image class="img-responsive" style="width:100%" alt="Image">
      <a style="color:#111010" href="/Home/Detail/@item.id">Detail</a><br><br>
    </div>}
}


    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Bellroy - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    
    </body>
    </html>

<script type="text/javascript">
function search()
{
    var value = document.getElementById("search_input").value;
    location.href='/Home/Search?val='+value;
}

function sorting()
{
    var value = document.getElementById("sort_input").value;
    location.href='/Home/Sort?val='+value;
}

function paging()
{
    var set = document.getElementById("setPage_input").value;
    location.href='/Home/Paging?set='+set;
}

</script>

