@{
    ViewData["Title"]="Pick up your favorite goods";
}

<div class="text-center">
    @{
        var get = ViewBag.items;
        foreach (var item in get)
        {
                <div class="text-left">
                <img src=@item.image width="500px"> </div>
                <div class="text-right">
                <h6>@item.title</h6>
                <h6>Price : Rp.@item.price</h6>
                <h7>Total : @item.total</h7>
                <br>
                <input value="" name="cart" placeholder="  Add to chart">
                <button onclick="myFunction()" name="input" type="post">Update</button>
                <button onclick="myFunction()" type="post">Remove</button>
                <br>
                <br>
                <br>
            </div>
        }
    }
</div>